.ExpenseList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
  background-color: #d8f5a2;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 5rem;
}
